{% extends 'base.html' %}

{% block context_title %}
    {{ procedure.premises.all.0 }}
{% endblock %}

{% block content %}
<table border="1">
    <tbody>
        <tr>
            <td>Numer procedury</td>
            <td>
                {{ object }}
                {% if not object.accepted %}
                <br>
                <small> Oznaczono jako nieprzyjęta.</small>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Lokal</td>
            <td>
                
                {% for premises in object.premises.all %}
                    <a href="{% url 'zmiany_aranz:premises_detail' premises.pk %}">{{ premises }}</a>
                {% endfor %}
                    
            </td>
        </tr>
        <tr>
            <td>Klienci</td>
            <td>
                {% for customer in object.customers.all %}
                <div style="line-height: 1.5;">
                    {{ customer }},
                    tel: <a href="tel:{{customer.phone}}">{{customer.phone}}</a>,
                    e-mail: <a
                        href="mailto:{{customer.e_mail}}?subject={{object.premises.all|join:', '}} - ">{{customer.e_mail}}</a>
                </div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Osoby</td>
            <td>
                {% for person in object.persons.all %}
                <p>
                    {{ person }},
                    tel: <a href="tel:{{person.phone}}">{{person.phone}}</a>,
                    e-mail: <a
                        href="mailto:{{person.e_mail}}?subject={{object.premises.all|join:', '}} - ">{{person.e_mail}}</a>
                </p>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Opiekun</td>
            <td>
                {% for customer_handler in object.customer_handler.all %}
                {{ customer_handler }}, <a
                    href="mailto:{{customer_handler.e_mail}}?subject={{object.premises.all|join:', '}} - ">{{customer_handler.e_mail}}</a>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ object.get_status_display}}</td>
        </tr>
        <tr>
            <td>Fakura</td>
            <td>
                {{ object.get_invoice_status_display }}
                ({{ object.invoice_month|default:"bd."}}) - {{ object.gross_fee_for_arran_changes}} zł brutto
            </td>
        </tr>
        <tr>
            <td>Uwagi</td>
            <td>{{ object.comment|linebreaks}}</td>
        </tr>
    </tbody>
</table>
{% endblock content %}