{% extends 'base.html' %}

{% block content %}
    <p>
    Numer procedury: 
    {{ object }}
    
    {% if not object.accepted %}
        <br> 
        <small> Oznaczono jako nieprzyjęta.</small>
    {% endif %}
    </p>
    <p>
        Lokal:
        {{ object.premises.all|join:', '}}
    </p>
    <p>
        Klienci:
        <ul>
        {% for customer in object.customers.all %}
            <li> 
                {{ customer }}, 
                tel: <a href="tel:{{customer.phone}}">{{customer.phone}}</a>, 
                e-mail: <a href="mailto:{{customer.e_mail}}?subject={{object.premises.all|join:', '}} - ">{{customer.e_mail}}</a> 
            </li>
        {% endfor %}
        </ul>
    </p>
    <p>
        Osoby:
        <ul>
            
            {% for person in object.persons.all %}
            <li> 
                {{ person }}, 
                tel: <a href="tel:{{person.phone}}">{{person.phone}}</a>, 
                e-mail: <a href="mailto:{{person.e_mail}}?subject={{object.premises.all|join:', '}} - ">{{person.e_mail}}</a> </li>
            {% endfor %}
        </ul>
    </p>
    <p>
        Opiekun klienta:
        
        {% for customer_handler in object.customer_handler.all %}
            {{ customer_handler }}, <a href="mailto:{{customer_handler.e_mail}}?subject={{object.premises.all|join:', '}} - ">{{customer_handler.e_mail}}</a>
        {% endfor %}  
    </p>
    <p>
        Status:
        {{ object.get_status_display}}
    </p>
    <p>
        Faktura:
        {{ object.get_invoice_status_display }}
        ({{ object.invoice_month|default:"bd."}}) - {{ object.gross_fee_for_arran_changes}} zł brutto
    </p>
    <p>
        Uwagi: <br>
        {{ object.comment|linebreaks}}
    </p>
    <p>
        <ul>
            <li><a href="{% url 'zmiany_aranz:procedure_costs_list' procedure.pk %}">Koszty</a></li>
            <li><a href="{% url 'zmiany_aranz:procedure_cost_estimates_list' procedure.pk %}">Kosztorysy</a></li>
            <li><a href="{% url 'zmiany_aranz:procedure_invoices_list' procedure.pk %}">Faktury</a></li>
            <li><a href="{% url 'zmiany_aranz:procedure_customers_list' procedure.pk %}">Klienci</a></li>
            <li><a href="{% url 'zmiany_aranz:send_email' procedure.pk 'gw-woz' %}">Wyślij wniosek o zmiany</a></li>
        </ul>
    </p>
   
{% endblock content %}